.sendForm {

}

.textarea {

}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.button:hover {

}
.button:active {

}
